@import url(docs.css);
:root{
    --primary:rgb(112, 182, 182);
    --secondary:White;
}
body{
    background-image: url(./assets/images/wraith3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Open Sans,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--secondary);
}
i{
    font-size: 2em;
    color:var(--primary);
}
#topbar{
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid grey;
}

#logo{
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    cursor: context-menu;
}
#name{
    color: var(--primary);
    margin: 10px;
    font-weight: bolder;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#Home{
    display: flex;
    font-size: 20px;
    justify-content:flex-end;
    color:var(--primary) ;
}
#Home>a{
    margin: 10px;
    padding: 15px;
    font-size: large;
}
#content{
    margin-top: 5%;
    cursor:context-menu;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content>p{
    width: 100%;
    font-size: 70px;
}
.btn1{
    font-size: large;
    background-color: var(--primary);
    padding: 10px;
    border: none;
    color: var(--secondary);
    width: 150px;
    border-radius:20px;
    margin: 15px;
}
.btn2{
    font-size: large;
    color: var(--primary);
    background-color: var(--secondary);
    border: none;
    padding: 10px;
    width: 150px;
    margin: 15px;
    border-radius: 20px;
}