
.alerts{
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    background-color: var(--secondary);
}
.alerts>div{
    padding: 15px;
    margin:5px;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.success-alert{
    color: darkgreen;
    background-color: hsl(120, 75%, 84%);
}
.success-alert>i{
    font-size:small;
    padding: 2px;
    margin-right:10px;
    border: 1px solid green;
    border-radius: 50%;
    color: aliceblue;
    font-weight: 500;
    background-color: green;
}
.primary-alert{
    background-color:#9ab8f1;
    color: black;
}
.secondary-alert{
    color: black;
    background-color: #cec8e7;
}
.danger-alert{
    color: red;
    background-color: rgb(238, 150, 144);
}
.danger-alert>i{
    font-size: medium;
    background-color: rgb(238, 150, 144);
    color: rgb(221, 81, 71);
    margin-right: 10px;
}

.warning-alert{
    color: orange;
    background-color:rgb(240, 207, 151);
}
.warning-alert>i{
    color: orange;
    font-size: medium;
    margin-right: 10px;
}
