@import url(avatars.css);

.badges-on-icons{
    display:flex;
    align-items:center;
    column-gap:2em;
    margin:1em;
    padding:1em;
    border:1px solid lightgrey;
    background-color:var(--secondary);
    border-radius: 10px;
}

.bell-icon-badge{
    display:flex;
}

.cart-icon-badge{
    display:flex;
}

.whatsapp-icon-badge{
    display:flex;
}

.bell-icon-badge>i, .cart-icon-badge>i{
    color:var(--primary);
}

.whatsapp-icon-badge>i{
    color:darkgreen;
}

span{
    position: absolute;
    color:var(--secondary);
    background-color: red;
    height: 1rem;
    width: 1rem;
    border: 0.5px solid var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* badge on avatar*/
.badge-on-avatar{
    background-color:var(--secondary);
    display: flex;
    align-items: baseline;
    column-gap: 1em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.badge-container{
    position: relative;
    width: fit-content;
    box-sizing: border-box;
    margin: 1em;
}
.online-badge{
    width: 25px;
    height: 25px;
    position:absolute;
    background-color: green;
    border : 2px solid lightgray;
    left:9.5rem;
    bottom: 1em;
}
.offline-badge{
    width: 25px;
    height: 25px;
    position:absolute;
    background-color: red;
    border : 2px solid lightgray;
    left:7.1rem;
    bottom: 0.8em;
}