@import url(../../style.css);
.responsive-img{
    margin: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.responsive-image{
    width: 80%;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

.round-img-container{
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.round-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
