.order-list{
    margin:5px;
    padding: 5px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5em;
    background-color: var(--secondary);
    color: black;
    border-radius: 10px;
}
.style-list{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5em;
    border: 1px solid lightgrey;
    background-color: var(--secondary);
    color: black;
    border-radius: 10px;
}

.list-style-square{
    list-style: square;
}

.list-style-circle{
    list-style: circle;
}