.toast-container{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--ternary);
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.success-toast{
    position: relative;
    background-color: green;
    color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}


.error-toast{
    position: relative;
    background-color:rgb(245, 149, 132);
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid var(--bg-color);
    border-radius: 10px;
}


#snackbar {
    visibility: hidden;
    margin-left: -125px;
    background-color: green;
    color: lightgreen;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    width: 8rem;
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  .btn{
      width: 7rem;
      height: 3rem;
      color: var(--ternary);
      background-color: var(--primary);
      border: none;
      border-radius: 5px; 
  }

  .btn:hover{
      color: var(--primary);
      background-color: var(--ternary);
      border:1px solid var(--primary)
  }